<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>Play with me!</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link type="text/css" rel="stylesheet" href="{% static 'w3.css' %}">
		<link type="text/css" rel="stylesheet" href="{% static 'custom2.css' %}"/>	
		<link type="text/css" rel="stylesheet" href="{% static 'aos.css' %}"/>
		<style>
			.main {
				padding-top: 5vh;
				background-size: cover;
				background-attachment: fixed;
				background-image: url("{% static "steam-bg.png" %}");
				overflow: hidden;
			}
			
		</style>


	</head>	
	
	<body>
		<img class="wiggle navbar-opener-side" onclick="openNavSide()" src="{% static 'small-arrow.png' %}" id="buttonside">
		<img class="wiggle navbar-opener-top" onclick="openNavTop()" src="{% static 'small-arrow-down.png' %}" id="buttontop">
		<div class="main">
			<div id="top navbar" class="navbar-top">
				<a href="javascript:void(0)" onclick="closeNavTop()"><img class="closebtn" src="{% static 'cross.png' %}" style="max-width:20px"></a>
				<a href="{% url 'homepage:index' %}">Home</a>
				<a href="#">Let's play</a>
			</div>
			<div id="side navbar" class="navbar-side">
				<a href="javascript:void(0)" onclick="closeNavSide()"><img class="closebtn" src="{% static 'cross.png' %}" style="max-width:20px"></a>
				<a href="{% url 'homepage:index' %}">Home</a>
				<a href="#">Let's play</a>
			</div>
			<br/>
			<center><h1><b> Let's play together</b></h1></center>
			<br/><br/><br/><br/>
			<table class="w3-table w3-centered">
				<tr>
					<td><img src="{% static 'mhw-logo.png' %}"></td>
					<td><img src="{% static 'dota-logo.png' %}"></td>
					<td><img src="{% static 'csgo-logo.png' %}"></td>
					<td><img src="{% static 'pubg-logo.png' %}"></td>
				<tr>
					<td><img src="{% static 'mk11-logo.png' %}"></td>
					<td><img src="{% static 'tekken-logo.png' %}"></td>
					<td><img src="{% static 'smash-logo.png' %}"></td>
					<td><img src="{% static 'mk8-logo.png' %}"></td>
				</tr>
				<tr></tr>
				<tr>
					<td></td>
					<td><a href="https://steamcommunity.com/profiles/76561198124884164"><img src="{% static 'steam-logo-blue.png' %}"></a></td>
					<td><img title="SW-3739-6003-8314" src="{% static 'switch-logo.png' %}"></td>
					<td></td>
				</tr>
			
			
		</table>
		
		<script>
			function openNavTop() {
				document.getElementById("top navbar").style.height = "4vh";
				document.getElementById("buttontop").style.opacity = "0";
			}

			function closeNavTop() {
				document.getElementById("top navbar").style.height = "0";
				document.getElementById("buttontop").style.opacity= "1";
			}
		</script>
		<script>
			function openNavSide() {
				document.getElementById("side navbar").style.width = "250px";
				document.getElementById("buttonside").style.opacity = "0";
			}

			function closeNavSide() {
				document.getElementById("side navbar").style.width = "0";
				document.getElementById("buttonside").style.opacity= "1";
			}
		</script>
	</body>
</html>