html {
	scroll-behavior: smooth;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
	
/* START */
.main {
	min-height: 100vh;
}

.main img {
	max-width: 10vw;
	max-height: 10vh;
}

h1 {
	font-family: "Raleway", sans-serif;
	color: white;
	font-size: 5vh;
}

tr {
	height: 18vh;
}

/* navbar side */
.navbar-side {
	position: absolute;
	right: 0;
	height: 100vh;
	width: 0;
	top: 0;
	background-color: rgba(255,255,255,0.4);
	white-space: nowrap;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 2vh;
}

.navbar-side .closebtn {
	width: 2vw;
}

.navbar-side a {
	font-family: Raleway;
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 2.5vh;
	color: rgb(0,0,0);
	display: block;
	transition: 0.3s;
}

.navbar-side a:hover {
	color: #f1f1f1;
}

.navbar-opener-side {
	right: 5%; 
	position:absolute; 
	top:50%; 
	-ms-transform: translateY(-50%); 
	transform: translateY(-50%); 
	max-height: 4vh;
}

/* navbar top */
.navbar-top {
	position: absolute;
	height: 0;
	width: 100vw;
	top: 0;
	background-color: rgba(255,255,255,0.4);
	white-space: nowrap;
	overflow-y: hidden;
	transition: 0.5s;
}

.navbar-top .closebtn {
	width: 3vw;
}

.navbar-top a {
	font-family: Raleway;
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 2.5vh;
	color: rgb(0,0,0);
	transition: 0.3s;
}

.navbar-top a:hover {
	color: #f1f1f1;
}

.navbar-opener-top {
	display: none;
}

/* wiggler */
.wiggle {
	animation: shake 3s;
	animation-iteration-count: infinite;
}

.wiggle:hover {
	cursor: pointer;
}

@keyframes shake {
	20% { transform: translate(-1px, 1px); }
	30% { transform: translate(1px, -1px); }
	40% { transform: translate(-1px, 1px); }
	50% { transform: translate(2px, 2px); }
}

/* media screen <= 600px */
@media screen and (max-width: 601px) {
	
	.navbar-opener-side {
		display: none;
	}
	
	.navbar-opener-top {
		display: initial;
		top: 5%; 
		position:absolute; 
		left:50%; 
		-ms-transform: translateX(-50%); 
		transform: translateX(-50%); 
		max-height: 2vh;
	}
}